@model IEnumerable<PLDatabaseFirstMVC.Models.Club>

@{
    ViewData["Title"] = "Clubs";
   
}

<h1><img alt = "Premier League" src = ./pl.png height="80" weight="80" /><br />Clubs</h1>

<p>
    
        <a asp-action="Create" class="btn btn-dark">
            Add Club
        </a>
  
    
</p>
<table class="table table-hover">
    
    <tbody>
@foreach (var item in Model) {
        <tr class = "table-default">
            <td>
               <a asp-action="Details" asp-route-id="@item.ClubId">
                   <img src = "@Url.Content(item.CrestUrl)" width="120" height="120"/>
                </a>
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClubId" class="btn btn-primary">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.ClubId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
