@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PREMIER LEAGUE</h1>
    <p><a href="https://premierleague.com" target = "_blank" rel ="noopener noreferrer">Official</a>.</p>

</div>
<body>

</body>